@use "../../../css/const"
@use "../../../css/reset"
@use '../../client-page/reservation-list/reservation-list'

#tabs-date
  border: none
  background-color: transparent
  margin: 0 0.5rem
  padding: 0.5rem
  border-radius: 10px
  &:focus
    outline: 2px solid black
  &:hover
    outline: 2px solid black

#tabs-filter
  border: none
  padding: 0.5rem
  border-radius: 10px
  background-color: transparent
  margin: 0 0.5rem
  &:hover
    outline: 2px solid black
