<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Autoriser tout le monde à accéder aux fichiers via CORS
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"

    # Rediriger toutes les requêtes vers index.php sauf si c'est un fichier ou un dossier existant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

    # Corriger le problème avec HTTP_AUTHORIZATION
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

